target/
logs/
.DS_Store
out/
lib/
download.properties
application.properties
.idea/libraries/Maven__com_sun_net_httpserver_http_20070405.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__org_apache_httpcomponents_fluent_hc_4_3_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3.xml
.idea/libraries/Maven__org_apache_pdfbox_fontbox_1_8_5.xml
.idea/libraries/Maven__org_apache_pdfbox_jempbox_1_8_5.xml
.idea/libraries/Maven__org_apache_pdfbox_pdfbox_1_8_5.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_7_4.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_7.xml
.idea/qaplug_profiles.xml
.idea/uiDesigner.xml
.idea/workspace.xml
